@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");


:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #37bf22;
  --bg-black-btn: #fdf9ff;
  --text-black-btn: black;
  --scroll: #ffffff;
  --text-white-black: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 0.02em;
  /* font-family: "Barlow", sans-serif; */
  /* font-family: "Poppins" sans-serif; */
  font-family: "Lato", sans-serif;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  overflow-x: hidden;
}

::before,
::after {
  box-sizing: border-box;
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
  --bg-black-btn: black;
  --text-black-btn: #fdf9ff;
  --scroll: #393939;
  --text-white-black: #fff;
}

/* Scroll Start */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
  border: 9px solid var(--scroll);
}

::-webkit-scrollbar {
  width: 0.9rem;
}

/* Scroll End  */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.section {
  background-color: var(--bg-black-900);
  min-height: 85vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}

.hidden {
  display: none !important;
}

.main-content {
  padding-left: 270px;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
}

.section .container {
  padding-top: 20px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.btn-about {
  margin-top: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* aside */
.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aside .logo {
  position: absolute;
  top: 50px;
}

.aside .logo a img {
  width: 200px;
  padding: 15px 20px;
  position: relative;
}




.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
  padding: 5px 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.aside .nav li a:hover {
  color: var(--skin-color);
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}

/* home */

.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
  background: linear-gradient(30deg, var(--bg-black-900) 40%, #37bf22);
}

.home .home-info {
  width: 100%;
  position: relative;
  min-height: 720px;
}

.home-info h1.top {
  font-size: 5.7em;
  font-weight: 600;
  width: 55%;
  display: inline-block;
}

.home-info h1.bottom {
  font-size: 5rem;
  direction: rtl;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
}
.home-img {
  position: relative;
}

.home-img img {
  border: 1px solid var(--skin-color);
  width: 350px;
  margin: 5px 0;
  position: absolute;
  bottom: -100px;
  right: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* About */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content .personal-info {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  width: 40%;
}

.about .about-content .personal-info .info-item p {
  display: inline-block;
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .personal-info-about {
  justify-content: space-evenly;
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 8px;
}

.about .about-content .personal-info .buttons {
  margin-top: 25px;
}

.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}



.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 40px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-700);
}

/* experience */

.experience .container {
  padding-bottom: 40px;
}

/* Card Start */
.experience-item {
  cursor: pointer;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin-bottom: 30px;
  margin-top: 40px;
}

.card-continer {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  text-align: center;
  height: 350px;
  width: 100%;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.card-back {
  padding: 120px 10px 5px 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card-back p {
  opacity: 0;
  color: var(--text-black-900);
  font-weight: 200;
  line-height: 150%;
  font-size: 1rem;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.card-front {
  width: 100%;
  display: flex;
  position: absolute;
  gap: 1em;
  flex-direction: column;
  background-color: #45ef2baa;
  height: 78%;
  color: var(--text-white-black);
  bottom: 0;
  padding: 1rem;
  border-radius: 1em 1em 0 0;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.text-body {
  color: var(--text-black-700);
  font-size: 1em;
  line-height: 200%;
  color: var(--text-white-black);
}
.card-front h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.circle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: var(--bg-black-900);
  border-radius: 50%;
  z-index: 1;
  border: 5px solid var(--bg-black-900);
  transform: translateY(-60%);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.icon i {
  font-size: 2.5rem;
  color: var(--skin-color);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Hover */
.card-continer:hover {
  box-shadow: 0 0 35px rgba(48, 46, 77, 0.15);
}

.experience-item:hover .card-front,
.experience-item.active .card-front {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

.experience-item.active p,
.experience-item:hover p {
  opacity: 1;
}

.experience-item:hover .circle,
.experience-item.active .circle {
  background-color: var(--skin-color);
}

.experience-item:hover i,
.experience-item.active i {
  font-size: 1.5rem;
  color: white;
}

/* Card End */

/* portfolio */

.portfolio .container {
  padding-bottom: 40px;
}

.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}

/* Contact */

.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon {
  display: inline-block;
}

.contact .contact-info-item .icon .fa {
  font-style: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-style: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  lighting-color: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 1rem;
  color: var(--text-black-700);
  transition: all 0.3 ease;
}

.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
  max-width: 100%;
  min-height: 40px;
  min-width: 150px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}



.follow-us {
  justify-content: center !important;
}
/* button, title section styling */
.button {
  cursor: default;
  background: transparent;
  border: none;
  margin-bottom: 8px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 1.3em;
  position: relative;
  text-transform: uppercase;
  color: var(--text-black-700);
  -webkit-text-stroke: 1px var(--text-black-700);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  color: var(--skin-color);
  width: 0%;
  inset: 0;
  border-right: 6px solid var(--skin-color);
  overflow: hidden;
  transition: 0.7s;
  -webkit-text-stroke: 1px var(--skin-color);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.button:hover .hover-text,
.button.active .hover-text.active {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--skin-color));
  -webkit-filter: drop-shadow(0 0 25px var(--skin-color));
}

.btn-contact {
  cursor: pointer;
  margin-top: 100px;
  position: absolute;
  left: 20px;
  bottom: 300px;
  padding: 8px 18px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.btn-contact:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #52e43baa;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-contact span {
  position: relative;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--text-black-900);
}

.btn-contact i {
  position: relative;
  top: 0;
  margin-left: 13px;
  color: var(--text-black-900);
  transform: translateX(-5px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

.btn-contact:hover:before {
  width: 100%;
  background: #3fd927dc;
}

.btn-contact:hover i {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.btn-contact:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.btn-send {
  bottom: -70px;
}

.input-group {
  position: relative;
}

.input-group textarea {
  max-width: 100% !important;
  min-width: 100px;
  min-height: 80px;
  padding-top: 40px;
}

button {
  cursor: pointer;
}

.input {
  width: 100%;
  height: 50px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-black-900);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.user-label {
  opacity: 0.5;
  font-weight: bold;
  position: absolute;
  left: 20px;
  color: var(--text-black-900);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0.8rem);
  -webkit-transform: translateY(0.8rem);
  -moz-transform: translateY(0.8rem);
  -ms-transform: translateY(0.8rem);
  -o-transform: translateY(0.8rem);
}

.input:focus,
.input:valid {
  outline: none;
  border: 1.5px solid var();
}

.input:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--bg-black-100);
  padding: 0 0.5em;
  box-shadow: 0 -10px 20px -3px rgba(48, 46, 77, 0.15);
  opacity: 1;
  border-top: 1px solid var(--bg-black-50);

  color: var(--skin-color);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.card-us {
  margin-left: 20px;
  margin-right: 20px;
  height: 90px;
  margin-bottom: 50px;
  cursor: pointer;
  width: 120px;
  height: 50px;
  text-align: center;
  background: var(--bg-black-100);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--skin-color);
  transition: 0.8s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  -webkit-transition: 0.8s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  -moz-transition: 0.8s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  -ms-transition: 0.8s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  -o-transition: 0.8s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
}

.card-us > :not(span) {
  transition: 0.5s cubic-bezier(0.6, 0.4, 0, 1);
  -webkit-transition: 0.5s cubic-bezier(0.6, 0.4, 0, 1);
  -moz-transition: 0.5s cubic-bezier(0.6, 0.4, 0, 1);
  -ms-transition: 0.5s cubic-bezier(0.6, 0.4, 0, 1);
  -o-transition: 0.5s cubic-bezier(0.6, 0.4, 0, 1);
}

.card-us > strong {
  color: var(--text-white-black);
  display: block;
  font-size: 1.4rem;
  letter-spacing: -0.035em;
}

.card-us span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card-us span.instagram {
  background-color: #f30058;
}
.card-us span.twitter {
  background-color: #29a8df;
}

.card-us span.whatsApp {
  background-color: #4cc858;
}

.card-us span.linkedin {
  background-color: #0964c1;
}

.card-us span.gmail {
  background-color: #f9bc02;
}

.card-us span.facebook {
  background-color: #118ff2;
}

.card-us span.github {
  background-color: #0d1117;
  color: white; 
}

.card-us i {
  color: var(--text-white-black);
  font-size: xx-large;
}
.card-us:hover span,
.card-us.active span {
  top: 0;
  font-size: 1.2em;
}

.card-us:hover,
.card-us.active {
  border: 1px solid var(--bg-black-100);
}





.cards-support {
  display: flex;
  width: 90vw;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-items: center;
}

/* From uiverse.io by @martinval9 */
.card-support {
  width: 250px;
  height: 350px;
  margin: 3rem;
  background: rgb(40,40,55);
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
  box-shadow: 4px 6px 14px #00000036;
  border-radius: 30px;
  color: #F9F9F9;
  padding: 16px;
  transition: all .3s;
}

.card-support:hover {
  margin-top: 30px;
}


.card-support:focus {
  margin-top: 30px;
}


















/* Skills item */

.container-skill {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skill {
  width: 140px;
  height: 140px;
  position: relative;
  margin: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill p {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-black-700);
}

.outer {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px var(--bg-black-900);
}

.inner {
  border: 2px solid var(--skin-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px var(--bg-black-900),
    -0.5px -0.5px 0px var(--bg-black-900), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.inner div {
  font-size: large;
  font-weight: 700;
  color: var(--text-black-700);
}

#number {
  font-weight: 600;
  color: var(--text-black-700);
}

circle {
  fill: none;
  stroke: #37bf22;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.php.active {
  animation: php 2s linear forwards;
  -webkit-animation: php 2s linear forwards;
}

.js.active {
  animation: js 2s linear forwards;
  -webkit-animation: js 2s linear forwards;
}

.python.active {
  animation: python 2s linear forwards;
  -webkit-animation: python 2s linear forwards;
}

.django.active {
  animation: django 2s linear forwards;
  -webkit-animation: django 2s linear forwards;
}

.git.active {
  animation: git 2s linear forwards;
  -webkit-animation: git 2s linear forwards;
}

.java.active {
  animation: java 2s linear forwards;
  -webkit-animation: java 2s linear forwards;
}

.flutter.active {
  animation: flutter 2s linear forwards;
  -webkit-animation: flutter 2s linear forwards;
}

.mysql.active {
  animation: mysql 2s linear forwards;
  -webkit-animation: mysql 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes php {
  100% {
    stroke-dashoffset: 220;
  }
}

@keyframes js {
  100% {
    stroke-dashoffset: 220;
  }
}

@keyframes python {
  100% {
    stroke-dashoffset: 180;
  }
}

@keyframes django {
  100% {
    stroke-dashoffset: 220;
  }
}

@keyframes git {
  100% {
    stroke-dashoffset: 225;
  }
}

@keyframes java {
  100% {
    stroke-dashoffset: 170;
  }
}

@keyframes flutter {
  100% {
    stroke-dashoffset: 318;
  }
}

@keyframes mysql {
  100% {
    stroke-dashoffset: 200;
  }
}

/*  Button download cv */

.btn-cv {
  margin-left: 40px;
  margin-top: 70px;
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 140px;
  height: 50px;
  border-radius: 0.5em;
  overflow: hidden;
}

.btn-cv div {
  transform: translateY(0px);
  width: 100%;
  background-color: #37bf22;
}

.svg-img {
  position: relative;
  left: 40px;
}

.btn-cv,
.btn-cv div {
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.btn-cv div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0.75em 1.125em;
}

.btn-cv .cv-img {
  display: block;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cv:hover div {
  transform: translateY(-50px);
}

.btn-cv p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.btn-cv:active {
  transform: scale(0.95);
}



/* toggle Start */
.menu-btn {

  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  left: 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 25px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: red;

}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: red;

}
/* toggle End */
