.style-mode {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
}


.style-mode .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style-mode .s-icon i {
    line-height: 40px;
    color: var(--text-black-btn);
}

.style-mode .day-night {
    top: 30px;
    border: 1px solid var(--bg-black-50);
    background: var(--scroll);
    border-radius: 50%;
}
